<!-- MODAL POST PROJECT START -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Define Your New Project</h4>
            </div>
            <form method="post" class="form-horizontal" role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Project Name</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" name="title" id="project-name" placeholder="Enter Project Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="project-type" class="col-sm-2 control-label">Type of Project</label>
                        <div class="col-sm-10">
                            <select name="type">
                                <option value="Web Application"> Web App
                                <br />
                                <option value="Android Application"> Android App
                                <br />
                                <option value="Iphone Application"> iPhone App
                                <br />
                                <option value="Design"> Design
                                <br />
                                <option value="Software"> Software
                                <br />
                                <option value="Marketing"> Marketing
                                <br />
                                <option value="Research"> Research
                                <br />
                                <option value="Electrical"> Electrical
                                <br />
                                <option value="Play/Theatre"> Theatre
                                <br />
                                <option value="Film/Movie"> Film
                                <br />
                                <option value="Book"> Book
                                <br />
                                <option value="Art"> Art
                                <br />
                                <option value="Other"> Other
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>

                        <div class="col-sm-10">
                            <textarea name="description" id="project-description" maxlength="240" rows="5" placeholder=" Enter brief summary of your project" required="required"></textarea>
                            <h6 class="pull-right">
                                <span id="characters_remaining">240</span>
                                characters remaining
                            </h6>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="roles" class="col-sm-2 control-label">Roles Wanted</label>
                        <div class="col-sm-10">
                            <div id="role-form" class="input-group">
                                <input type="text" class="form-control" name="roles" class="project-roles" placeholder="Enter roles wanted">
                                </br>
                            </div>
                            <div><button id="add-role-form" type="button">Add More Roles</button></div> 
                        </div>
                        
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="submitProject" class="btn btn-primary" type="submit">Post Project</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- MODAL POST PROJECT END -->