<!DOCTYPE html>
<html>
	<head>
		<title>Edit Profile</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="../images/favicon.jpg">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/editprofile.css" />
	</head>
	<body>
		<nav id="the-navbar" class="navbar navbar-default navbar-inverse sidebar" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Navigation</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li ><a href="/homepage">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
						<li class="active"><a href="/profile">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
						<li ><a href="/messages">Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
						<li ><a href="/projects">Projects<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pushpin"></span></a></li>
						<!-- Change to POST request eventually! -->
						<li ><a href="/logout">Logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-off"></span></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="resume">
				<header class="page-header">
					<h1 class="page-title">My Profile</h1>
					<small> <i class="fa fa-clock-o"></i> Last Updated on: <time>LAST UPDATED DATE</time></small>
				</header>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
						
						<form>
							<div class="panel panel-default">
								<div class="panel-heading resume-heading">
									<div class="row">
										<div class="col-lg-12">
											<div class="col-xs-12 col-sm-4">
												<figure>
													<img class="img-circle img-responsive" alt="" src="http://placehold.it/300x300">
												</figure>
												<br />
											</div>
											<div class="col-xs-12 col-sm-8">
												<ul class="list-group">
													<li class="list-group-item"><label>Name:</label>
													<input type="text" class="form-control" name="name" placeholder="Name" required="required">
												</li>
												<li class="list-group-item"><label>Role:</label>
												<input type="text" class="form-control" name="name" placeholder="Name" required="required">
											</li>
											
											<li class="list-group-item"><label>Availability:</label>
											<input type="text" class="form-control" name="name" placeholder="Yes or No" required="required">
										</li>
									</li>
									<li class="list-group-item"></i> <label>Contact:</label>
									<input type="text" class="form-control" name="contact" placeholder="Contact Info e.g.: myemail@domain.com">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bs-callout bs-callout-danger">
				<h4>Summary</h4>
				<textarea name="summary" form="summary"></textarea>
			</div>
			<div class="bs-callout bs-callout-danger">
				<h4>Interests</h4>
				<textarea name="interests" form="summary"></textarea>
			</div>
			
			<div class="col-sm-offset-2 col-sm-10">
				<form action="/profile">
    				<input type="submit" value="Save Changes">
				</form>
				<form action="/profile">
    				<input type="submit" value="Cancel">
				</form>
            </div>
			<!--<div class="bs-callout bs-callout-danger">
					<h4>Skills</h4>
					<ul class="list-group">
							<a class="list-group-item inactive-link" href="#">
									<div class="progress">
											<div data-placement="top" style="width: 80%;"
													aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">80%</span>
													<span class="progress-type">SKILL 1</span>
											</div>
									</div>
									<div class="progress">
											<div data-placement="top" style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">70%</span>
													<span class="progress-type">SKILL 2</span>
											</div>
									</div>
									<div class="progress">
											<div data-placement="top" style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">70%</span>
													<span class="progress-type">SKILL 3</span>
											</div>
									</div>
									<div class="progress">
											<div data-placement="top" style="width: 65%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-warning">
													<span class="sr-only">65%</span>
													<span class="progress-type">SKILL 4</span>
											</div>
									</div>
									<div class="progress">
											<div data-placement="top" style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning">
													<span class="sr-only">60%</span>
													<span class="progress-type">SKILL 5</span>
											</div>
									</div>
									<div class="progress">
											<div data-placement="top" style="width: 50%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
													<span class="sr-only">50%</span>
													<span class="progress-type">SKILL 6</span>
											</div>
									</div>
									<div class="progress">
											<div data-placement="top" style="width: 10%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-danger">
													<span class="sr-only">10%</span>
													<span class="progress-type">SKILL 7</span>
											</div>
									</div>
									<div class="progress-meter">
											<div style="width: 20%;" class="meter meter-right">
													<span class="meter-text">Master</span>
											</div>
											<div style="width: 20%;" class="meter meter-right">
													<span class="meter-text">Expert</span>
																						</div>
											<div style="width: 20%;" class="meter meter-right">
													<span class="meter-text">Comfortable</span>
											</div>
											<div style="width: 20%;" class="meter meter-right">
													<span class="meter-text">Been Exposed To</span>
											</div>
											<div style="width: 20%;" class="meter meter-right">
													<span class="meter-text">Hardly Know</span>
											</div>
									</div>
							</a>
					</ul>
			</div> -->
		</div>
	</form>
</div>
</div>
</div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/index.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/npm.js"></script>
</html>