<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>AnonNoMore Homepage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="images/favicon.jpg">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="css/homepage.css">
    </head>
    <body>
        <div class="nav-side-menu">
            <div class="brand">Navigation Menu</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            
            <div class="menu-list">
                
                <ul id="menu-content" class="menu-content collapse out">
                    <!--<li>
                        <a href="#">
                            <i class="fa fa-dashboard fa-lg"></i>
                        </a>
                    </li>-->
                    
                    <!-- FOR PERHAPS LATER USE, instead of collapsed, use collapsed active -->
                    <li  data-toggle="collapse" data-target="#products" class="collapsed">
                        <a href="/homepage"><i class="fa fa-gift fa-lg"></i> Homepage </a>
                    </li>
                    <!--<ul class="sub-menu collapse" id="products">
                        <li class="active"><a href="#">CSS3 Animation</a></li>
                        <li><a href="#">General</a></li>
                        <li><a href="#">Buttons</a></li>
                        <li><a href="#">Tabs & Accordions</a></li>
                        <li><a href="#">Typography</a></li>
                        <li><a href="#">FontAwesome</a></li>
                        <li><a href="#">Slider</a></li>
                        <li><a href="#">Panels</a></li>
                        <li><a href="#">Widgets</a></li>
                        <li><a href="#">Bootstrap Model</a></li>
                    </ul>-->
                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                        <a href="/editprofile"><i class="fa fa-globe fa-lg"></i> Edit Profile <!--<span class="arrow"></span>--></a>
                    </li>
                    <ul class="sub-menu collapse" id="service">
                        <!--<li>New Service 1</li>
                        <li>New Service 2</li>
                        <li>New Service 3</li>-->
                    </ul>
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a href="/settings"><i class="fa fa-car fa-lg"></i> Settings </a>
                    </li>
                    <ul class="sub-menu collapse" id="new">
                        <!--<li>New New 1</li>
                        <li>New New 2</li>
                        <li>New New 3</li>-->
                    </ul>
                    <li>
                        <a href="curr_projects">
                            <i class="fa fa-user fa-lg"></i> Current Projects
                        </a>
                    </li>
                    <!--<li>
                        <a href="#">
                            <i class="fa fa-users fa-lg"></i> Logout
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" id="logout">
                    <!-- Header -->
                    <div class="page-header">
                        <h3 class="reviews">AnonNoMore!</h3>
                        <div class="logout">

                            <form role="form" method="post" action="logout">
                                <button type="submit" class="btn btn-default btn-circle text-uppercase"> Logout
                                <span class="glyphicon glyphicon-off"></span>
                                </button>
                            </form>

                        </div>
                    </div>
                    <div class="comment-tabs">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Projects</h4></a></li>
                            <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Post Project</h4></a></li>
                            <li><a href="#account-settings" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Search Projects</h4></a></li>
                        </ul>
                        <div class="tab-content">
                            <!-- Projects Tab -->
                            <div class="tab-pane active" id="comments-logout">
                                <ul class="media-list">
                                    <!-- First project -->
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg" alt="profile">
                                        </a>
                                        <div class="media-body">
                                            <div class="well well-lg">
                                                <h4 class="media-heading text-uppercase reviews">Food App </h4>
                                                <ul class="media-date text-uppercase reviews list-inline">
                                                    <li class="dd">22</li>
                                                    <li class="mm">09</li>
                                                    <li class="aaaa">2014</li>
                                                </ul>
                                                <p class="media-comment">
                                                Looking for: Project Manager
                                                </p>
                                                <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#replyOne" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Details</a>
                                            </div>
                                        </div>
                                        <div class="collapse" id="replyOne">
                                            <ul class="media-list">
                                                <li class="media media-replied">
                                                    <div class="media-body">
                                                        <div class="well well-lg">
                                                            <p class="media-comment">
                                                            -project description <br />
                                                            -project description <br />
                                                            -project description <br />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- Second project -->
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg" alt="profile">
                                        </a>
                                        <div class="media-body">
                                            <div class="well well-lg">
                                                <h4 class="media-heading text-uppercase reviews">Personal Website</h4>
                                                <ul class="media-date text-uppercase reviews list-inline">
                                                    <li class="dd">22</li>
                                                    <li class="mm">09</li>
                                                    <li class="aaaa">2014</li>
                                                </ul>
                                                <p class="media-comment">
                                                Looking for: Web Developer
                                                </p>
                                                <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#replyTwo" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Details</a>
                                            </div>
                                        </div>
                                        <div class="collapse" id="replyTwo">
                                            <ul class="media-list">
                                                <li class="media media-replied">
                                                    <div class="media-body">
                                                        <div class="well well-lg">
                                                            <p class="media-comment">
                                                            -project description <br />
                                                            -project description <br />
                                                            -project description <br />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- Third comment -->
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/lady_katherine/128.jpg" alt="profile">
                                        </a>
                                        <div class="media-body">
                                            <div class="well well-lg">
                                                <h4 class="media-heading text-uppercase reviews">Workout App</h4>
                                                <ul class="media-date text-uppercase reviews list-inline">
                                                    <li class="dd">22</li>
                                                    <li class="mm">09</li>
                                                    <li class="aaaa">2014</li>
                                                </ul>
                                                <p class="media-comment">
                                                Looking for: UX/UI Designer
                                                </p>
                                                <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#replyThree" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Details</a>
                                            </div>
                                        </div>
                                        <div class="collapse" id="replyThree">
                                            <ul class="media-list">
                                                <li class="media media-replied">
                                                    <div class="media-body">
                                                        <div class="well well-lg">
                                                            <p class="media-comment">
                                                            -project description <br />
                                                            -project description <br />
                                                            -project description <br />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Post Project Tab -->
                            <div class="tab-pane" id="add-comment">
                                <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
                                    <div class="form-group">
                                        <label for="uploadMedia" class="col-sm-2 control-label">Project Name</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="uploadMedia" id="uploadMedia">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Description</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="rolesWanted" class="col-sm-2 control-label">Roles Wanted</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="rolesWanted" id="rolesWanted">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> <a href="/homepage">Summit Project</a></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Search Projects Tab -->
                            <div class="tab-pane" id="account-settings">
                                <form action="#" method="post" class="form-horizontal" id="accountSetForm" role="form">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">Project Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="name" id="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nickName" class="col-sm-2 control-label">Role</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="nickName" id="nickName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Platform</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" name="email" id="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-primary btn-circle text-uppercase" type="submit" id="submit"><a href="/homepage">Search</a></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-header text-center">
                <h3 class="reviews"></h3>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/npm.js"></script>
</html>