<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>Welcome to Skoolio!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="/images/favicon.jpg">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">

    </head>
    <body>
        {{> login_modal}}
        <div class="wrapper">

            <div class="head-header">
                <div id="header-bar">
                    <!--<a class="navbar-brand text-uppercase" href="#">Skoolio</a>-->
                    <nav class="main-nav">    
                        <a id="index-signin" href="#0" class="btn btn-success navbar-btn btn-circle">Sign in</a>
                    </nav>
                </div>
            </div>
            <!--<header class="header">-->
            <div class="container">

                <div class="">
                    <!--<h1 style="text-align: center; font-size:3em;" class="h1 page-header text-uppercase">Skoolio</h1>-->
                    <img style="text-align: center;" src="/images/skoolio.png">
                    <h2>Have a project idea? Looking for something to work on? Get started with Skoolio today!</h2>
                    <p class="lead">Create an account below</p>
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <form action="/signup" role="form" method="post" class="form-horizontal">

                                <div class="form-group">          

                                    <label class="control-label col-sm-1" for="signup-fname"></label>   
                                    <div class="col-sm-11">        
                                        <input id="signup-fname" type="text" class="form-control" placeholder="First Name" name="fname" required>
                                    </div>
                                </div>    
                                        
                                <div class="form-group">                     
                                    <label class="control-label col-sm-2" for="signup-lname"></label>          
                                    <div class="col-sm-10">     
                                        <input id="signup-lname" type="text" class="form-control" placeholder="Last Name" name="lname" required>
                                    </div>
                                </div>


                                <div class="form-group">                     
                                    <label class="control-label col-sm-2" for="email"></label>          
                                    <div class="col-sm-10">   
                                        <input type="email" class="form-control" placeholder="Email Address" name="email" required>
                                    </div>
                                </div>    

                                <div class="form-group">                     
                                    <label class="control-label col-sm-2" for="username"></label>          
                                    <div class="col-sm-10">   

                                        <input type="text" class="form-control" placeholder="Username" name="username" required>
                                    </div>
                                </div>    

                                <div class="form-group">                     
                                    <label class="control-label col-sm-2" for="password"></label>          
                                    <div class="col-sm-10">   
                                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                                    </div>    
                                </div>    

                                <br />

                                <div style="text-align: center;">
                                    <button class="btn btn-success btn-circle" type="submit">Sign up for free</button>
                                </div>



                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--</header>-->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-offset-1 text-center mt-100 mb-100">
                            <div class="phone">
                                <img class="img-responsive img-rounded" src="images/skoolio1.jpg">
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-offset-1">

                            <div class="pull-middle">
                                <h2 class="h1 page-header">Discover more about Skoolio.</h2>
                                <ul class="media-list">
                                    <li class="media">
                                        <a class="media-left" href="#">
                                            <span class="glyphicon glyphicon-cloud icon text-success"></span>
                                        </a>
                                        <div class="media-body">
                                            <h3 class="media-heading">Post your projects on Skoolio!</h3>
                                            <p>Share your ideas and see what others are working on.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="media-left" href="#">
                                            <span class="glyphicon glyphicon-user icon text-success"></span>
                                        </a>
                                        <div class="media-body">
                                            <h3 class="media-heading">Find others to work with!</h3>
                                            <p>Customize which roles you are looking for and see if you match what others need.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="media-left" href="#">
                                            <span class="glyphicon glyphicon-lock icon text-success"></span> 
                                        </a>
                                        <div class="media-body">
                                            <h3 class="media-heading">Create friendships while gaining experience!</h3>
                                            <p>Add to your college career by working on what you want outside of class.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <br />
                <br />
                <div style="text-align: center;" >
                    <a class="btn btn-success btn-circle" href="#">Sign up for free</a>
                </div>
                <br />
                <br />
            </section>
            <footer class="footer text-center">
                <div class="container">
                    <small>© Copyright 2015 <a href="">@skoolio.herokuap.com</a></small>
                </div>
            </footer>
        </div>
    </body>
    <script src="/js/jquery-2.1.3.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/modernizr.js"></script> 
    <script src="/js/login_modal.js"></script>
    <script src="/js/index.js"></script>
</html>