<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>Welcome to Skoolio!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="images/favicon.jpg">
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="css/login_reset.css">
        <link rel="stylesheet" type="text/css" href="css/login_style.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">

    </head>
    <body>
        {{> login_modal}}
        <div class="wrapper">

            <div class="head-header">
                <div id="header-bar">
                    <a class="navbar-brand text-uppercase" href="#">Skoolio</a>
                    <nav class="main-nav">    
                        <a id="index-signin" href="#0" class="btn btn-success navbar-btn btn-circle">Sign in</a>
                    </nav>
                </div>
            </div>
            <!--<header class="header">-->
            <div class="container">

                <div class="">
                    <h1 style="text-align: center; font-size:3em;" class="h1 page-header text-uppercase">Skoolio</h1>
                    <h2>Have a project idea? Looking for something to work on? Get started with Skoolio today!</h2>
                    <p class="lead">Create an account below</p>
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <form action="/signup" class="form-inline" role="form" method="post">
                                <div class="input-group">
                                
                                    <input id="signup-fname" type="text" class="form-control" placeholder="First Name" name="fname" required>
                                    
                                        
                                    <input id="signup-lname" type="text" class="form-control" placeholder="Last Name" name="lname" required>
                                    
                                    <input type="email" class="form-control" placeholder="Email Address" name="email" required>
                                    <hr>
                                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                                    <hr>
                                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                                        
                                    <br />

                                    <div style="text-align: center;">
                                        <button class="btn btn-success btn-circle" type="submit">Sign up for free</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--</header>-->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
                            <div class="phone">
                                <img class="img-responsive img-rounded" src="">
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="content">
                                <div class="pull-middle">
                                    <h2 class="h1 page-header">Discover more about Skoolio.</h2>
                                    <ul class="media-list">
                                        <li class="media">
                                            <a class="media-left" href="#">
                                                <span class="glyphicon glyphicon-cloud icon text-success"></span>
                                            </a>
                                            <div class="media-body">
                                                <h3 class="media-heading">Praesent porttitor urna ut enim.</h3>
                                                <p>Maecenas vitae ex iaculis, efficitur est eu, fermentum quam.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="media-left" href="#">
                                                <span class="glyphicon glyphicon-lock icon text-success"></span>
                                            </a>
                                            <div class="media-body">
                                                <h3 class="media-heading">Cras consequat est et elit.</h3>
                                                <p>Integer suscipit massa at tellus semper, at aliquam ante bibendum.</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="media-left" href="#">
                                                <span class="glyphicon glyphicon-user icon text-success"></span>
                                            </a>
                                            <div class="media-body">
                                                <h3 class="media-heading">Aenean vel enim quis dui blandit.</h3>
                                                <p>Maecenas vitae ex iaculis, efficitur est eu, fermentum quam.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <div class="content">
                                <div class="pull-middle">
                                    <h4><strong>Describe your product.</strong></h4>
                                    <p>Proin sapien neque, consequat ac tempus aliquam, gravida in urna. Phasellus et lectus in odio imperdiet tempus. Aenean posuere, nunc a tristique imperdiet, massa dolor dictum eros, sit amet tempor turpis turpis vel tortor.</p>
                                    <small>Phasellus feugiat at lorem a tincidunt. Nam hendrerit leo vitae orci pellentesque, nec euismod dolor condimentum.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1 mt-100 mb-100">
                            <div class="phone">
                                <img class="img-responsive img-rounded" src="">
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <div class="content">
                                <div class="pull-middle">
                                    <h4><strong>Even more stuff.</strong></h4>
                                    <p>Proin sapien neque, consequat ac tempus aliquam, gravida in urna. Phasellus et lectus in odio imperdiet tempus. Aenean posuere, nunc a tristique imperdiet, massa dolor dictum eros, sit amet tempor turpis turpis vel tortor.</p>
                                    <a class="btn btn-success btn-circle" href="#">Sign up for free</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer text-center">
                <div class="container">
                    <small>© Copyright 2015 <a href="">@</a></small>
                </div>
            </footer>
        </div>
    </body>
    <script src="/js/jquery-2.1.3.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/modernizr.js"></script> 
    <script src="/js/login_modal.js"></script>
    <script src="/js/index.js"></script>
</html>