<!DOCTYPE html>
<html>
	<head>
		<title>Send a Notification</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="../images/favicon.jpg">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="../css/interested.css">
		<link rel="stylesheet" type="text/css" href="../css/navbar.css">
		{{> woopra_tracking_script}}
		{{> woopra_tracking_user_script}}
	</head>
	<body>
		{{> navbar}}
		<div class="container">
			<form method="post">
				<div><h1>Project: {{title}}</h1></div>
				<div>
					<h3>What role(s) are you interested in?</h3>
					<div id="check-at-least-one"></div>
					{{#each roles}}
					<input type="checkbox" name="roles" value="{{this}}"> {{this}}
					<br />
					{{/each}}
				</div>
				
				<div>
					<h3>Anything you want to say?</h3>
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea id="interested-message" class="form-control counted" name="message" placeholder="Type in your message" rows="4" maxlength="200"></textarea>
							<h6 class="pull-right"><span id="char_remaining">200</span> Characters Remaining</h6>
						</div>
					</div>
					<div><button id="notify-button" class="btn btn-info" type="submit">Notify Owner</button></div>
					<br />
				</div>
			</form>
		</div>
	</body>
	<script src="/js/jquery-2.1.3.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/interested.js"></script>
</html>