<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>AnonNoMore Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="images/favicon.jpg">
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="css/login.css" />
    </head>
    <body>
        <div class="container">

            <div id="loginbox" class="row">
                <div class="col-md-12">
                    <div class="pr-wrap">
                        <div class="pass-reset">
                            <label>
                            Enter The Email You Sign Up With</label>
                            <input type="email" placeholder="Email" />
                            <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                        </div>
                    </div>
                    <div class="wrap">
                        <center><h4>Logout Successful!</h4></center>
                        <p class="form-title">
                        Sign In</p>

                        <form class="login" role="form" method="post" action="/login">
                            <input type="text" name="username" placeholder="Username" required="required"/>
                            <input type="password" name="password" placeholder="Password" required="required" />
                            <input type="submit" value="signin" class="btn btn-success btn-sm" />

                            <div class="remember-forgot">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" />
                                                Remember Me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 forgot-pass-content">
                                        <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                        Don't have an account?
                                        <a href="/signup">
                                            Sign up Here
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/npm.js"></script>
</html>