<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>Skoolio Homepage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="images/favicon.jpg">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="css/homepage.css">
    </head>
    <body>
        <nav id="the-navbar" class="navbar navbar-default navbar-inverse sidebar" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Navigation</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ><a href="/homepage">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                        <li ><a href="/profile">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                        <li class="active"><a href="/messages">Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                        <li ><a href="/user_projects">Projects<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pushpin"></span></a></li>
                        <!-- Change to POST request eventually! -->
                        <li ><a href="/logout">Logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-off"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="tab-content">
            <div class="tab-pane active" id="inbox">
                <div class="container">
                    <div class="content-container clearfix">
                        <div class="col-md-12">
                            <h1 class="content-title">Inbox</h1>
                            
                            <input type="search" placeholder="Search Messages"/>
                            <br />
                            <br />
                            <ul class="mail-list">
                                <li>
                                    <a href="#">
                                        <span class="mail-sender"><label>Name:</label> Kane</span><br />
                                        <span class="mail-subject"><label>Project:</label> Food App</span><br />
                                        <span class="mail-subject"><label>Role:</label> Front End Developer</span><br />
                                        <span class="mail-message-preview">Hi I was interested in being the front end guy yata yata</span>
                                    </a>
                                </li>
                                <br />
                                <li>
                                    <a href="#">
                                        <span class="mail-sender"><label>Name:</label> Liz</span><br />
                                        <span class="mail-subject"><label>Project:</label> Food App</span><br />
                                        <span class="mail-subject"><label>Role:</label> UI Designer</span><br />
                                        <span class="mail-message-preview">Hi I was interested in being the desginer yata yata</span>
                                    </a>
                                </li>
                                <br />
                                <li>
                                    <a href="#">
                                        <span class="mail-sender"><label>Name:</label> Eric</span><br />
                                        <span class="mail-subject"><label>Project:</label> Food App</span><br />
                                        <span class="mail-subject"><label>Role:</label> Project Manager</span><br />
                                        <span class="mail-message-preview">Hi I was interested in being the project manager yata yata</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/messages.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/npm.js"></script>
</html>