body {
    padding-top: 50px;
}

/* Handles show more descriptions */
a {
    color: #0254EB
}
a:visited {
    color: #0254EB
}
a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}

/* width and height of project description */
#project-description {
	width: 95%;
}

#role-form {
	float:left;
}

.project-title {
    text-align: center;
}

.project-post {
    position: relative;
    width: 100%;
}

.post-time {
	position: absolute;
    top: 5px;
    right: 10px;
}

.post-border-owned {
	border: 3px solid;
    border-radius: 5px;
    /*border-color: #00CC66;*/
    border-color: #FF9900;
    box-shadow: -10px -10px -5px #888888 !important;

}

.post-border-not-owned {
	border: 3px solid;
    border-radius: 5px;
    border-color: #0099FF;
    box-shadow: -10px -10px -5px #888888;

}

.page-header {
    text-align: center;
}
